---
interface Sections{
    section:string;
    link:string;
}

const {section,link} =Astro.props;
---


<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sections</title>
  </head>
 

  <body>
    <a class="font-mono"href={link}>{section}</a>


    <slot />
    
  </body>

</html>