---
import Layout from "../layouts/Layout.astro";
import Covers from "../components/Covers.astro";
import Header from "../components/Header.astro";
import Sections from "../components/Sections.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Divine">
  <Header title="Divine" description="The Album of your dreams" />
  <main>
    <article>
      <section class="gap-5">
        <Covers
          title="Paradise"
          price="12.99"
          url="/src/images/cover_paradise.webp"
        />
      </section>
      <section>
        <Covers
          title="Purgatory"
          price="12.99"
          url="/src/images/cover_paradise.webp"
        />
      </section>
      <section>
        <Covers
          title="Inferno"
          price="12.99"
          url="/src/images/cover_paradise.webp"
        />
      </section>
    </article>

    <div class="text-center grid grid-flow-col gap-4 pt-10">
      <Sections section="Live" link="/Live" />
      <Sections section="Merch" link="/Merch" />
      <Sections section="Updates" />
    </div>
    <footer>
      <Footer />
    </footer>
  </main>

  <style is:global>
    main {
      margin: auto;
      padding: 1rem;
      width: 800px;
      max-width: calc(100% - 2rem);
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }
  </style>
</Layout>
