---
import Layout from "../layouts/Layout.astro";
import Covers from "../components/Covers.astro";
import Header from "../components/Header.astro";
---

<Layout title="Welcome to Astro.">
  <Header title="Divine" description="The Album of your dreams" />
  <main>
    <div>

      <Covers title="Paradise" price="12.99" url="/src/images/cover1.jpg" 
      />
      <Covers title="Purgatory" price="12.99" url="/src/images/cover2.png" 
      />
      <Covers title="Inferno" price="12.99" url="/src/images/cover3.jpg" 
      />
    </div>
   

  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
