---
import Layout from "../layouts/Layout.astro";
import Covers from "../components/Covers.astro";

import Sections from "../components/Sections.astro";
import Footer from "../components/Footer.astro";
import Countdown from "../components/Countdown.astro";
import SmokeBackground from "../components/SmokeBackground.astro";
import Header from "../components/Header.astro";
---

<Layout title="Divine">
  <main class="relative">

    <SmokeBackground />
    <Header
    section1="Live"
    section2="Merch"
    link1="./Live"
    link2="./Merch"
    link3="/"
    />
    <article>
      <section class="gap-5">
        <Covers
          title="Paradise"
          price="12.99$"
          url="/src/images/covers/cover_inferno.webp"
        />
      </section>
      <Countdown />
      <section>
        <Covers
          title="Purgatory"
          price="12.99$"
          url="/src/images/covers/cover_purgatory.webp"
        />
      </section>
      <Countdown />
      <section>
        <Covers
          title="Inferno"
          price="12.99$"
          url="/src/images/covers/cover_paradise.webp"
        />
      </section>
      <Countdown />

      <section></section>
    </article>
  </main>
</Layout>


  <Footer />

