---
import Layout from "../layouts/Layout.astro";
import Covers from "../components/PrincipalUI/Covers.astro";

import Sections from "../components/PrincipalUI/Sections.astro";
import Footer from "../components/PrincipalUI/Footer.astro";
import Countdown from "../components/PrincipalUI/Countdown.astro";
import SmokeBackground from "../components/PrincipalUI/SmokeBackground.astro";
import Header from "../components/PrincipalUI/Header.astro";

---
</audio src="src/images/sounds/Intro_web.wav" autoplay loop/>
<Layout title="Divine">

  <main class="relative">
    
    <SmokeBackground />
    <Header
    section1="Live"
    section2="Merch"
    link1="./Live"
    link2="./Merch"
    link3="/"
    />


    <article>
      <section class="gap-5">
        <Covers
          title="Paradise"
          price="12.99$"
          url="/src/images/covers/cover_inferno.webp"
        />
      </section>
      <Countdown />
      <section>
        <Covers
          title="Purgatory"
          price="12.99$"
          url="/src/images/covers/cover_purgatory.webp"
        />
      </section>
      <Countdown />
      <section>
        <Covers
          title="Inferno"
          price="12.99$"
          url="/src/images/covers/cover_paradise.webp"
        />
      </section>
      <Countdown />

      <section></section>
    </article>

  </main>

</Layout>


  <Footer />

