---
import Header from "../components/PrincipalUI/Header.astro";
import SmokeBackground from "../components/PrincipalUI/SmokeBackground.astro";
import { db, LiveD } from "astro:db";

const livedates = await db.select().from(LiveD);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Live</title>
  </head>
  <body>
    <SmokeBackground />
    <Header
      section1="Home"
      section2="Merch"
      link1="/"
      link2="/Merch"
      link3="/"
    />
    <div>
      <h2 class="flex justify-center text-center text-xl font-bold pt-10">LIVE DATES</h2>
    </div>
    <div class="flex justify-center items-center mt-4">
      <table class=" w-full h-full items-center mt-10">
        <tr class="text-left">
          <th>City</th>
          <th>Date</th>
          <th>Tickets</th>
        </tr>
        {
          livedates.map(({ city, fecha, ticketsavailable }) => (
            <tr class="">
              <td>{city}</td>
              <td>{new Date(fecha).toLocaleDateString('es-ES', { day: '2-digit', month: '2-digit', year: 'numeric' })}</td> <!-- Formatear fecha -->

              <td>{ticketsavailable}</td>
            </tr>
          ))
        }
      </table>
    </div>
  </body>
</html>
