---
import Layout from "../layouts/Layout.astro";
import Covers from "../components/Covers.astro";
import Header from "../components/Header.astro";
import Sections from "../components/Sections.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Divine">
  <Header title="Divine" description="The Album of your dreams" />
  <main>
    <div class="grid grid-rows-4 grid-cols-2 grid-flow-col p-4 rounded-md bg-white">
        <div>Test</div>
        <div>09</div>
      </div>
  </main>
  <footer>
    <Footer />
  </footer>
</Layout>
