---
import Layout from "../layouts/Layout.astro";
import Covers from "../components/PrincipalUI/Covers.astro";
import Header from "../components/PrincipalUI/Header.astro";
import Sections from "../components/PrincipalUI/Sections.astro";
import Footer from "../components/PrincipalUI/Footer.astro";
import MerchItems from "../components/Merch/MerchItems.astro";
import SmokeBackground from "../components/PrincipalUI/SmokeBackground.astro";
import PostHeader from "../components/PrincipalUI/Header.astro";
---

<Layout title="Divine">
<PostHeader
    section1="Home"
    section2="Live"
    link1="/"
    link2="/Live"
    link3="/"
    />

<main class="flex justify-center">
    <SmokeBackground/>
    <section class="mt-8">
      <div class="grid grid-cols-2 gap-4 gap-y-2 mb-2">
        <MerchItems
          nameItem="Hoodie 1"
          price="49.99"
          url="src/images/merch/hoodie/hodietest1.webp"
          class="-mt-2"
        />

        <MerchItems
          nameItem="Hoodie 2"
          price="49.99"
          url="src/images/merch/hoodie/hodietest1.webp"
          class="-mt-2"
        />

        <MerchItems
          nameItem="Tee  1"
          price="29.99"
          url="src/images/merch/hoodie/hodietest1.webp"
          class="-mt-2"
        />

        <MerchItems
          nameItem="Tee  2"
          price="29.99"
          url="src/images/merch/hoodie/hodietest1.webp"
          class="-mt-2"
        />

        <MerchItems
          nameItem="Cap  1"
          price="19.99"
          url="src/images/merch/hoodie/hodietest1.webp"
          class="-mt-2"
        />

        <MerchItems
          nameItem="Cap  2"
          price="19.99"
          url="src/images/merch/hoodie/hodietest1.webp"
          class="-mt-2"
        />
      </div>
    </section>
  </main>
  <footer class="sticky">
    <Footer />
  </footer>
</Layout>
