---
interface Card {
  albumname: String;
  albumnLenght: Number;
  price: Number;
}

const { albumname, albumnLenght, price } = Astro.props;
---

<li class="link-card">
  <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <h2>
      {albumname}
      <span></span>
    </h2>
    <h3>
      {albumnLenght}
      {price}
    </h3>
  </a>
</li>
