---
interface Covers {
  title: String;
  price: String;
  url: String;

}

const { title, price, url } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Covers</title>
  <style>
    .cover-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
    
    .cover-container:hover img {
      filter: blur(5px); /* Aplica un filtro de desenfoque al hacer hover */
    }
    
    .cover-info {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.8);
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    
    .cover-container:hover .cover-info {
      opacity: 1; /* Muestra la información al hacer hover */
    }
    
    .cover-info h1 {
      color: white;
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
    
    .cover-info a {
      display: inline-block;
      padding: 8px 20px;
      background-color: purple;
      color: white;
      border-radius: 20px;
      text-decoration: none;
      transition: background-color 0.3s ease;
    }
    
    .cover-info a:hover {
      background-color: #6f42c1;
    }
  </style>
</head>
<body>
  <section>
    <div class="cover-container">
      <img src={url} alt="Cover Number" class=" mt-4 max-w-full max-h-full object-contain rounded-xl"/>
      <div class="cover-info">
        <h1>{title}</h1>
        <a href="#">{price}</a>
      </div>
    </div>
  </section>
  <slot/>
</body>
</html>
