---
interface Covers {
  title: String;
  price: String;
  url: String;

}

const { title, price, url } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Covers</title>
  </head>
  <body>
    <section>
      <div class="flex justify-center items-center h-100">
        <img
          src={url}
          alt="Cover Number"
          class="rounded-xl border-slate-300 transition duration-300 ease-in-out hover:scale-110 max-w-full max-h-full object-contain gap-4"
        />
      </div>
      <div class="text-balance text-center">
        <h1>{title}</h1>
        <button class=" bg-fuchsia-100 hover:bg-fuchsia-200 duration-300 ease-in-out rounded-xl gap-3 text-black">{price}</button>
     
       
      </div>
    </section>
    <slot />
  </body>
</html>
