

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
</head>
<body>
    <div class="text-white relative justify-center flex gap-10 pt-10  text-3xl">
        <a href="/Merch" class="animate__animated animate__fadeInLeft">Merch</a>
        <a href="/Live" class="animate__animated animate__fadeInRight">Live</a>
        
      </div>
</body>
</html>