<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
    .dropdown {
      display: flex;
      margin-right: 1.25rem;
      justify-content: flex-end;
    }

    /* Dropdown button on hover & focus */
    .dropbtn:hover,
    .dropbtn:focus {
      background-color: #2980b9;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
      background-color: #ddd;
    }

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {
      display: block;
    }
  </style>
</head>
<body>
  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">
      <img src="/src/images/icons/shopping-cart.svg" />
    </button>

    <p class="text-center text-4xl mt-6 mr-5" id="counter"></p>
    <div id="myDropdown" class="dropdown-content">
      <div>
        <h1>Pay Now</h1>
        <button>Checkout</button>
      </div>
    </div>
  </div>

  <script src="./index.js"/>

    
</body>
</html>
