<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side Letters</title>
</head>
<body>
    <div class="grid grid-cols-1 grid-rows-5 text-left">WHICH</div>
    <div class="grid grid-cols-1 grid-rows-4 text-right">

        <p>S</p>
        <p>I</p>
        <p>D</p>
        <p>E</p>

    </div>
</body>
</html>