<div id="smoke-bg" class="fixed top-0 h-full w-full"></div>

<script>
    import * as THREE from 'three'

    const bkg = document.getElementById('smoke-bg')

    const w = window.innerWidth
    const h = window.innerHeight
    
</script>